*.kicad_prl
*-backups/
fp-info-cache
*.lck
~*.lck
tools/__pycache__/
*.bak
nl.net
erc-t*.rpt
.history/
autoroute-scratch.kicad_pcb
autoroute.dsn
autoroute.ses
autoroute.log
telematics-tracker.kicad_pcb.lastgood
.chain9.sh
.chain9.log
.cy*.rpt
